.takoswap {
  --primary-color: rgb(45, 30, 18);
  --bg-color: #fff8ee;
  --text-color: rgb(45, 30, 18);
  --link-color: rgb(0, 0, 0);
  --heading-color:rgb(45, 30, 18);
  --border-color: rgb(216, 152, 152);
  --header-bg: rgb(201, 110, 110);

  --block-bg: rgb(240, 233, 231);
}

